* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color:#c870db;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 850px;
    max-width: 100%;
    display: flex;
    box-shadow: 0 20px 40px , white;
}
.login {
    display: flex;
    width: 100%;
    background: white;
}
.form label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
    color: #666;
}
.left-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-form h1 {
    font-size: 30px;
    margin-top: 10px;
    display: block;
    color: black;
}
form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #666;
    padding: 10px 5px; 
    margin-bottom: 15px;
    outline: none;
}
.sign-in {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    background: #c870db;
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}
.forgot {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: black;
    text-decoration: none;
    
}
.forgot:hover {
    color: red;
}
.right-form {
    background: url(/Day3_2025_05_19/images/bg.jpg) no-repeat right center/cover ;
    color: white;

   

}
.new-here {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    color: white;
}
.new-here h1 {
    font-size: 30px;
    margin-bottom: 10px;
}
.sign-up {
    padding: 10px 20px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    cursor: pointer;
    position: absolute;
    bottom: 30% ;
    left: 40%;
    
    
}


.icon {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    
}
.icon img {
    width: 40px;
    height: 40px;
}
.icon ul {
    list-style: none;
}
.icon ul li {
    display: inline-block;
    cursor: pointer;
    margin: 25px 15px;
}
.left-form {
    flex: 2;
    padding: 40px;
    position: relative;
}
.right-form {
    flex: 1;
    padding: 40px;
    position: relative;
}

